{% extends 'base.html.twig' %}

{% block title %}Mes Notifications{% endblock %}

{% block body %}
    <h2>Mes Notifications</h2>

    {% if notifications is not empty %}
        <ul>
            {% for notification in notifications %}
                <li>
                    <strong>{{ notification.message }}</strong>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune notification pour le moment.</p>
    {% endif %}
{% endblock %}
